@model ComingSoon
@using EOrderProject.Data.Enums;


@{
    ViewData["Title"] = "Delete Item";
}
@if (!User.Identity.IsAuthenticated || User.IsInRole("User"))
{
    <script>location.replace("../../Account/Login");</script>
}

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="carousel-container">
        <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown"><span>Delete</span> Item</h2>
            <div class="row bg-white p-5 rounded shadow-lg justify-content-start">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group mt-3">
                        <input disabled asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                 
                    <div class="form-group mt-3">
                        <textarea disabled asp-for="Description" class="form-control" rows="5" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger text-left" style="justify-content: flex-start !important;"></span>
                    </div>
                   
                    <div class="form-group mt-3">
                        <input disabled asp-for="Image" type="file" class="form-control" name="subject">
                        <span asp-validation-for="Image" class="text-danger text-left" style="justify-content: flex-start !important;"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <a style="float: left !important;" asp-controller="ComingSoon" asp-action="Index" class="btn-cancel">Cancel</a>
                        <input style="float: right !important;" value="Delete" class="btn-delete" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
