@model Issues
@using EOrderProject.Data.Enums;

@{
    ViewData["Title"] = "Add new Item";
}

@if (!User.Identity.IsAuthenticated || User.IsInRole("User"))
{
    <script>location.replace("../Account/Login");</script>
}
else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <img src="~/assets/img/slide/dark-bg.jpg" class="img-responsive" />
        <div class="carousel-container">
            <div class="carousel-content">

                <h2 class="animate__animated animate__fadeInDown"><span>Insert</span> Staff</h2>
                <div class="row bg-white p-5 rounded shadow-lg justify-content-start">
                    <form asp-action="Create" enctype="multipart/form-data">
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger text-center">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group mt-3">

                            <label asp-for="IssueDescription" class="control-label"></label>
                            <input asp-for="IssueDescription" class="form-control" />
                            <span asp-validation-for="IssueDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center mt-4">
                            <a style="float: left !important;" asp-controller="Issues" asp-action="Index" class="btn-cancel">Cancel</a>
                            <input style="float: right !important;" value="Create" class="btn-block btn-add-new" type="submit">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
}



