
<section id="hero">
    <img src="~/assets/img/slide/dark-bg.jpg" class="img-responsive" />
    <div class="carousel-container">
        <div class="carousel-content">
            <div class="row alert alert-success text-center p-5 rounded shadow-lg">
                <div class="text-black" style="color: black !important;">
                    <p style="width: 100% !important; font-size: 30px !important; color: black !important;"><b>Order completed successfully</b></p>
                    <p style="width: 100% !important; color: black !important; ">You can check all your orders in the Orders section of your profile</p>
                    <hr />
                    <p style="color: black !important;">Thank you!</p>
                    <hr />
                    <a class="btn btn-outline-dark rounded" asp-controller="Orders" asp-action="Index">
                        <i style="font-size: 20px;" class="bi bi-arrow-left"></i> Go to your orders
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>