@using EOrderProject.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Register";
}


<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<!-- ======= Hero Section ======= -->
<section id="hero">
 
    <div class="carousel-container">
        <div class="carousel-content">


            <div class="login-form">
                <form asp-action="Register" class="rounded">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger text-center">
                            @TempData["Error"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p class="text-center" style="font-size: 30px; color: black;"><b>Sign up</b></p>
                    <div class="form-group m-4">
                        <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name">
                        <span asp-validation-for="FullName" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                    <div class="form-group m-4">
                        <input asp-for="EmailAddress" type="text" class="form-control" placeholder="Email">
                        <span asp-validation-for="EmailAddress" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                    <div class="form-group m-4">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                    <div class="form-group m-4">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                    <div class="form-group m-4">
                        <input type="submit" value="Sign up" class="btn btn-primary">
                    </div>

                </form>
                <p style="width: 100% !important;" class="text-center"><a asp-controller="Account" asp-action="Login">Already have an account?</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
