


<section id="hero">
 
    <div class="carousel-container">
        <div class="carousel-content">
            <div class="row alert alert-success text-center p-5 rounded shadow-lg">
                <div class="text-black" style="color: black !important;">
                    <p style="width: 100% !important; font-size: 30px !important; color: black !important;"><b>Registered successfully!</b></p>
                    <p style="width: 100% !important; color: black !important; ">You can now login to your account!</p>
                    <hr />
                    <a class="btn btn-outline-dark rounded" asp-controller="Account" asp-action="Login">
                        <i style="font-size: 20px;" class="bi bi-arrow-left"></i> Go to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>