@model EOrderProject.Models.Staff

@{
    ViewData["Title"] = "Create";
}
<section id="hero">
    <div class="carousel-container">
        <div class="carousel-content">

            <h2 class="animate__animated animate__fadeInDown"><span>Insert</span> Staff</h2>
            <div class="row bg-white p-5 rounded shadow-lg justify-content-start">
                <form asp-action="Create" enctype="multipart/form-data">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger text-center">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group mt-3">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger text-left" style="text-align: left !important;"></span>
                    </div>
                    <div class="form-group mt-3">
                        <textarea asp-for="Description" class="form-control" rows="5" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger text-left" style="justify-content: flex-start !important;"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input required asp-for="Image" accept="image/png,image/jpeg" type="file" class="form-control" name="ifile">
                        <span asp-validation-for="Image" class="text-danger text-left" style="justify-content: flex-start !important;"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <a style="float: left !important;" asp-controller="Staffs" asp-action="Index" class="btn-cancel">Cancel</a>
                        <input style="float: right !important;" value="Create" class="btn-block btn-add-new" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
